@font-face {
    font-family: ialvarohthin;
    /*src: url('../fonts/TrendexLightSSi.TTF');*/
    /*src: url('../fonts/solea/Solea-Light.TTF');*/
    src: url('../fonts/segoeuil.ttf');
    }
body_green {background-color: #01A51F;font-family: 'Segoe UI',Arial, Verdana; font-weight: 100; color: #ffffff;}
/*body {background-color: #b30430; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana; color: #ffffff; font-size: 1em;}*/
body {background-color: #00A890; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana; color: #ffffff; font-size: 1em;}
body_red {background-color: #b30430; overflow: hidden; position: absolute; height: 200px; width: 300px; left: 50%; top: 40%; margin-top: -100px; margin-left: -150px; }
.center_text {
    vertical-align: central;
    text-align: center;
}
.sysratelogin {font-size: 4em;}
.centrado {
    display:table;
    margin: auto;
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*left: 50%;
    
    top: 15%;
    width: 90%px;
    height: 200px;
    margin-top: -100px;*/
    /*margin: 0% -25% 0% 10%;*/
    /*margin-left: 10%;
    margin-right: -25%;*/}
.textboxbig {font-size: 0.8em; border: 0px; font-family: ialvarohthin, 'Segoe UI Light', 'Segoe UI', Arial, Verdana;}
.piepage {position: absolute; text-align: center; width: 100%; top: 95%; bottom: 3%; color: #D8F781; font-size: .8em;}
.titulo_medio {padding: 10px; vertical-align: middle; text-align: center; font-size: 2em; display: table-cell; vertical-align: middle;}
.titulo_fila {padding: 10px; vertical-align: middle; text-align: right; font-size: 0.7em; display: table-cell; vertical-align: middle;}
.medio_titulo {padding: 10px; vertical-align: middle; text-align: center; display: table-cell; vertical-align: middle;}
.droptransparent {font-size: 1em; background: rgba(216,247,129,0.8); border: 0px; color: #ffffff; display: table-cell; font-family: ialvarohthin, 'Segoe UI Light', 'Segoe UI', Arial, Verdana; border-spacing: 0px; border-collapse: collapse;}
    select.droptransparent {background: rgba(255,255,255,0.8); color: #b30430; display: table-cell;}
.centrado_imagen {display: table-cell;}
.background_blanco {background: rgba(200,200,200,1); border-radius: 8px; padding: 5px;}
.modalBackground_gris {background-color: #6E6E6E; filter: alpha(opacity=70); opacity: 0.70;}
.background_blanco_1 {background: rgba(255,255,255,0.8); border-radius: 8px; padding: 5px;}
.boton_texto {font-size: 1.2em; text-decoration: none; color: #58585A; transition: all 0.3s ease 0s;}
.boton_texto:hover {font-size: 1.2em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.menu {width:250px; white-space:nowrap; font-size: 1.2em; border: none; padding: 8px; opacity: 1; color: #00A890; border-radius: 5px; transition: all 0.3s ease 0s;}
/*.menu:hover {width:250px; white-space:nowrap; font-size: 1.2em; border-radius: 5px; padding: 8px; color: #f9fcfc ;background:rgba(0,168,144,1); opacity: 1; transition: all 0.3s ease 0s; }*/
.menu:hover {width:250px; white-space:nowrap; font-size: 1.2em; border-radius: 5px; padding: 8px; color: #f9fcfc ;background:rgba(179,4,48,1); opacity: 1; transition: all 0.3s ease 0s; }

.selectClass {background-color: #cccccc; }
.selectClass option{background-color: #ffffff; }
.barra_lateral {
    background-color: #f9fcfc;
    height: 100%;
}
.univertical {
   	color:#b30430;
    font-size:1.3em;
	position: absolute;
    transform: rotate(90deg);
    transform-origin:0% 0%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin:0% 0%; /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -webkit-transform-origin:0% 0%; /* Safari and Chrome */
    margin: 0px 0px 0px 50px;
    white-space: nowrap;
}
/*.esperando {padding: 20px; vertical-align: middle; position:absolute; z-index:10; left: 50%; top: 50%; color: #ffffff; background: rgba(179,4,48,1); border-radius: 5px;}*/
.esperando {padding: 30px; vertical-align: middle; display:block; position:absolute; margin: 0 auto; border: 0; z-index:10; left: 40%; top: 50%; color: #ffffff; background: rgba(179,4,48,1); border-radius: 5px;}
.esperando_iframe {display:block; margin: 0 auto; border: 0; overflow:hidden;}
.menu_selection {white-space:nowrap; font-size: 1.2em; border-radius: 5px; padding: 8px; opacity: 1; color: #b30430; background:rgba(0,0,0,0.1); width: 100%; transition: all 0.3s ease 0s;}
.menu_selection:hover {white-space:nowrap; font-size: 1.2em; border-radius: 5px; padding: 8px; color: #f9fcfc ;background:rgba(0,168,144,1);  width: 100%; opacity: 1; transition: all 0.3s ease 0s; }
.tbxlogin {font-size: 0.8em; border: none; border-radius: 5px; padding: 8px; opacity: 1; background: #f9fcfc; transition: all 0.3s ease 0s;}
.tbxlogin:hover {font-size: 0.8em; border-radius: 5px; padding: 8px; background:rgba(255,255,255,1); opacity: 1; transition: all 0.3s ease 0s; }
.tbxlogin:focus {font-size: 14pt; border-radius: 5px; padding: 8px; width: 80%; background:rgba(179,4,48,1); opacity: 1; color: #f9fcfc ;transition: all 0.3s ease 0s; }
.percent {background-color: #b30430; color: #ffffff; text-align: center; padding: 3px;}
.reporte_st0 {font-size: 1.2em; text-decoration: none; color: #58585A; transition: all 0.3s ease 0s; border-radius: 5px}
.reporte_st0:hover {font-size: 1.2em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s; background:rgba(179,4,48,1); border-radius: 5px}
.reporte_st1 {font-size: 1.2em; text-decoration: none; color: #58585A; transition: all 0.3s ease 0s; border-radius: 5px}
.reporte_st1:hover {font-size: 1.2em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s; background:rgba(0,168,44,1); border-radius: 5px}
.reporte_st2 {font-size: 1.2em; text-decoration: none; color: #58585A; transition: all 0.3s ease 0s; border-radius: 5px}
.reporte_st2:hover {font-size: 1.2em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s; background:rgba(255,116,23,1); border-radius: 5px}
.footer {left: 0; bottom: 0; width: 100%; height: 10%; text-align:center; background-color: #f9fcfc; position:absolute;}
.boton_texto_dentro {text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.boton_texto_dentro:hover {text-decoration: none; color: #ECAD00; transition: all 0.3s ease 0s;}
.tbxlogin_fill {text-align:center; font-size: 1em; border-radius: 5px; border: none; padding: 4px; opacity: 1; background: rgba(249,252,252,0); transition: all 0.3s ease 0s; color: #000000; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}
/*.tbxlogin_fill {text-align:center; font-size: 1em; border-radius: 5px; border: none; padding: 4px; opacity: 1; background: rgba(249,252,252,0); transition: all 0.3s ease 0s; color: #f9fcfc; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}
.tbxlogin_fill:hover {text-align:center; font-size: 1em; border-radius: 5px; padding: 4px; border: none; background:rgba(255,255,255,0.2); transition: all 0.3s ease 0s; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}
.tbxlogin_fill:focus {text-align:center; font-size: 1em; border-radius: 5px; padding: 4px; border: none; background:rgba(179,4,48,1); opacity: 1; color: #f9fcfc ;transition: all 0.3s ease 0s; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}*/
.wmlogin {text-align:center; font-size: 1em; border: none; border-radius: 5px; padding: 4px; background: #f9fcfc; color: #999999; transition: all 0.3s ease 0s; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}
.wmlogin:hover {text-align:center; font-size: 1em; border-radius: 5px; padding: 4px; background:rgba(255,255,255,1); color: #666666; transition: all 0.3s ease 0s; font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana;}
.campos_derecha {text-align: left; padding: 0px 0px 0px 10px;}
.bottombar_shadow{
    margin: auto;
    background: #ccc;
    border: 5px solid white;
    position:relative;
    box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.40);
}
.boton_texto_fixsmall {font-size: 0.6em; text-decoration: none; color: #58585A; transition: all 0.3s ease 0s;}
.boton_texto_fixsmall:hover {font-size: 0.6em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.cell_spa_0 { border-spacing: 0px; border-collapse: collapse;}
.menu_cabezal {white-space:nowrap; font-size: 1.6em; border: none; padding: 8px; opacity: 1; color: #f9fcfc; background: rgba(148,4,48,0.7); transition: all 0.3s ease 0s;}
.menu_submenu {white-space:nowrap; font-size: 1.2em; border: none; padding: 8px; opacity: 1; color: #00A890; border-radius: 5px; transition: all 0.3s ease 0s;}
.menu_submenu:hover {white-space:nowrap; font-size: 1.2em; border-radius: 5px; padding: 8px; color: #f9fcfc ;background:rgba(88,88,90,1); opacity: 1; transition: all 0.3s ease 0s; }
.boton_texto_blanco {text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.boton_texto_blanco:hover {text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.div_principal {padding: 0px 0px 0px 20px; border-left: solid 1px #f9fcfc; font-size: 1.2em;}
.tabla_busqueda {border-collapse: collapse; padding: 0px; }
.top_tb {border-radius: 5px 5px 0px 0px; background: rgba(249,252,252,0.0); padding: 10px; color: #f9fcfc; text-align: left;}
.etiqueta_titulo {font-family: ialvarohthin, 'Segoe UI Light', Arial, Verdana; color: #ffffff; font-size: 1.4em; font-weight: normal;}
.campos_derecha_ {text-align: left; padding: 0px 0px 0px 10px; font-size: 1em;
    margin-left: 200px;
}
.titulo_fila_ {padding: 10px; vertical-align: middle; text-align: right; font-size: 1em; display: table-cell; vertical-align: middle;}
/*Css del validador*/
.customCalloutStyle div, .customCalloutStyle td{
border: solid 1px #ffffff;
background-color:Gray;
color:White;
}
.customCalloutStyle .ajax__validatorcallout_popup_table{
display: none;
border: none;
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_popup_table_row{
vertical-align: top;
height: 100%;
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_cell{
width: 20px;
height: 100%;
text-align: right;
vertical-align: top;
border: none;
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table{
height: 100%;
border: none;
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_table_row{
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell
{
padding: 8px 0px 0px 0px;
text-align: right;
vertical-align: top;
font-size: 1px;
border: none;
background-color: transparent;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv{
font-size: 1px;
position: relative;
left: 1px;
border-bottom: none;
border-right: none;
border-left: none;
width: 15px;
background-color: transparent;
padding: 0px;
}
.customCalloutStyle .ajax__validatorcallout_callout_arrow_cell .ajax__validatorcallout_innerdiv div{
height: 1px;
overflow: hidden;
border-top: none;
border-bottom: none;
border-right: none;
padding: 0px;
margin-left: auto;
}
.customCalloutStyle .ajax__validatorcallout_error_message_cell
{
font-family: 'Segoe UI', Arial, Vedana;
font-size: 0.8em;
padding: 5px;
border-right: none;
border-left: none;
width: 100%;
}
.customCalloutStyle .ajax__validatorcallout_icon_cell{
width: 20px;
padding: 5px;
border-right: none;
}
.customCalloutStyle .ajax__validatorcallout_close_button_cell{
vertical-align: top;
padding: 15px;
text-align: right;
border-left: none;
}
.customCalloutStyle .ajax__validatorcallout_close_button_cell .ajax__validatorcallout_innerdiv{
border: none;
text-align: center;
width: 10px;
padding: 1px;
cursor: pointer;
}
.boton_texto_ampliar {text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.boton_texto_ampliar:hover {text-decoration: none; color: #b30430; transition: all 0.3s ease 0s; font-size: 1.7em;}
.gvrow {font-size: 1em; text-decoration: none; color: #f9fcfc; transition: all 0.3s ease 0s;}
.gvrow:hover {font-size: 1em; text-decoration: none; color: #b30430; background: rgba(255,255,255,0.5); border-radius: 5px; transition: all 0.3s ease 0s;}
.folder_view {background: rgba(179,4,48,0.7); border-radius: 5px; width: 100%;}
.tbx_registro {width:50px; font-size: 1em; border: none; border-radius: 5px; padding: 8px; opacity: 0.3; background: #f9fcfc; color: rgba(179,4,48,1); text-align: center; transition: all 0.3s ease 0s;}
.tbx_registro:hover {width:50px; font-size: 1em; border: none; border-radius: 5px; padding: 8px; background:rgba(255,255,255,1); opacity: 1; text-align: center; transition: all 0.3s ease 0s; }
.tbx_registro:focus {width:50px; font-size: 1em; border: none; border-radius: 5px; padding: 8px; background:rgba(179,4,48,1); opacity: 1; color: rgba(255,255,255,1); text-align: center; transition: all 0.3s ease 0s; }